*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  display: block;
}
html, body{
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #FFF7ED;
}
button{
  border: none;
  cursor: pointer;
}
.flex{
  display: flex;
}
.both-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hori-center{
  display: flex;
  justify-content: center;
}
.verti-center{
  display: flex;
  align-items: center;
}
.column{
  flex-direction: column;
}
/* Home Page Css */

/* Navbar css */

.nav-bar{
  height: 7em;
  padding-left: 1.625em;
  padding-right: 1.625em;
  justify-content: space-between;
}

#logo{
  font-family: Inter;
  font-weight: 900;
  font-size: 1.62rem;
}

a{
  min-width: 3.36em;
  text-decoration: none;
  color: black;
}

/* Intro Css */
.intro-container{
  padding: 140px 30px 95px 30px;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro h2{
  font-weight: 800;
  color: #FFFFFF;
  font-size: 2.2rem;
  line-height: 1.18em;
  margin-bottom: 1.2rem;
}

.intro p{
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 2em;
}
#find{
  margin-top: 48px;
  background-color: #FF8C38;
  width: 100%;
  height: 3.125em;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
#find a{
  width: 500px;
}

/* Footer CSS */
.end{
  height: 7em;
  background-color:  #252525;
  color: #AAAAAA;
  font-size: 0.9rem;
  font-weight: 500;
}
/* About Page CSS */
.about-background{
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
}
.about-container{
  padding: 30px;
  padding-top: 35px;
  padding-bottom: 40px;
  row-gap: 20px;
}
.about-container h1{
  font-family: Inter;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.1em;
  color: #161616;
}
.about-container p{
  font-family: Inter;
  font-weight: 500;
  line-height: 1.3em;
  color: #161616#161616
}

.msg{
  row-gap: 20px;
  padding: 30px;
  background-color: #FFCC8D;
  max-width: 500px;
  width: 100%;
}
.msg p{
font-size: 1.5rem;
font-weight: 700;
line-height: 30px;
}
#explore{
  background-color: #161616;
  color: #FFFFFF;
  width: 10em;
  height: 3em;
  border-radius: 10px;
}

/* Vans Page CSS */
.vans-container{
  padding: 1.625em;
}
.actual-van-container{
  width: 100%;
  overflow: visible;
  flex-wrap: wrap;
}
.van{
  width: 25%;
  margin: 40px;
}
.van img{
  margin-bottom: 15px;
}
.vans-container h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 20px;
}
.item-money{
  justify-content: space-between;
}
.item-money > p{
font-size: 1.2rem;
font-weight: 600;
line-height: 1.8em;
}
.buttons{
  column-gap: 15px;
  margin-right: auto;
  margin-bottom: 40px;
}
.buttons button{
  background: #FFEAD0;
  height: 2em;
  width: 7.5em;
  font-weight: 500;
  border-radius: 5px;
}
.van button{
  margin-top: 5px;
  height: 2em;
  width: 7.5em;
  font-weight: 500;
  border-radius: 5px;
  color: #FFEAD0;
}
#clear{
  text-decoration: underline;
  height: 2em;
  width: 7.5em;
  font-weight: 500;
  border-radius: 5px;
}

/* Van Detail CSS */
.detail-container{
  padding: 1.625em;
}
#back{
  text-decoration: underline;
  margin-left: 10px;
}
.container{
  margin: 50px;
  column-gap: 100px;
}
.container img{
  width: 40%;
}
.detail{
  row-gap: 20px;
}
.detail button{
  height: 2em;
  width: 7.5em;
  font-weight: 500;
  border-radius: 5px;
  color: #FFEAD0;
}
#rent{
  margin-top: 35px;
  background-color: #FF8C38;
  width: 30%;
  height: 3.125em;
  border-radius: 5px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
}
#price{
font-size: 1.2rem;
font-weight: 600;
line-height: 1.8em;
margin-top: -10px;
}
#description{
font-size: 1.5rem;
font-weight: 500;
line-height: 2.5rem;
}

/* Host Page CSS */

.host-nav-bar{
  padding-left: 1.625em;
  margin-bottom: 30px;
}
.host-nav-bar a{
  font-size: 1rem;
  font-weight: 500;
}
.host-nav-bar a:not(:last-child){
  margin-right: 1em;
}
.welcome{
  padding: 2em 1.625em 2em 1.625em;
  background-color: #FFEAD0;
}
.welcome-first{
  row-gap: 20px;
}
.welcome-second{
  margin-left: auto;
}
#rate{
  font-size: 3rem;
  font-weight: 800;
}
#days{
  text-decoration: underline;
  color: #4D4D4D;
  font-size: 1.01rem;
}
.review{
  background-color: #FFDDB2;
  padding: 2em 1.625em 2em 1.625em;
}
.review p:first-of-type{
margin-right: 10px;
}
.review p:last-of-type{
  margin-left: auto;
}
#star{
  width: 20px;
  margin: 2px;
}
.listed-vans{
  padding: 2em 1.625em 4em 1.625em;
}
.head{
  display: flex;
  justify-content: space-between;
}
.head p:first-of-type{
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 10px;
}
.van-box{
  border: 1px solid black;
  padding: 1.1em 1.625em 1.1em 1.625em;
  margin-top: 20px;
  background-color: #FFFFFF;
  column-gap: 20px;
  display: flex;
  align-items: center;
}
.van-box img{
  width: 65.88px;
  border-radius: 5px;
}
.van-box p{
  margin-left: auto;
}
.van-explain p:first-child{
  font-weight: 600;
  margin-bottom: 5px;
}
.van-explain p:last-child{
  color: #4D4D4D;
}

/* Revie Page CSS */

.review-container{
  padding: 2em 1.625em 4em 1.625em;
}
.heading{
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 5px;
}
.review-day{
  align-items: flex-end;
}
.your-review{
  margin-bottom: 30px;
}
.first p:first-child{
  font-size: 2rem;  
  font-weight: 700;
  margin-right: 30px;
}
.rating{
  column-gap: 10px;
  margin-bottom: 30px;
}
.rating p:first-child{
  font-size: 2rem;
  font-weight: 700;
}
.rate-percent{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px; 
}
.percent-bar{
  border: 1px solid black;
  height: 12px;
  max-width: 800px;
  width: 70%;
  border-radius: 8px;
  margin-left: 20%;
  margin-right: auto;
}
.inner-100{
  background-color: orange;
  height: 100%;
  width: 100%;
}

.review-box{
  border-bottom: 1px solid #C7C7C7;
  flex-direction: column;
  row-gap: 12px;
  padding: 25px;
}
.review-box p:first-of-type{
  font-size: 1.5rem;
  font-weight: 600;
}
#full-date{
color: #8C8C8C;
}
.review-lists p:first-child{
  margin-bottom: 20px;
  margin-top: 30px;
}
.multiple-stars{
  width: 20px;
}
.mini-star{
  margin-bottom: 0;
}

/* Income Page CSS */

.income-container{
  padding: 2em 1.625em 2em 1.625em;
}

#bar-graph{
  width: 400px;
}
.income-box p:first-child{
  font-weight: 600;
  margin-bottom: 5px;
}
.income-box p:last-child{
  color: #4D4D4D;
}
.income-box{
  justify-content: space-between;
  padding: 1.3em 1.625em 1.3em 1.625em;
 background-color: #FFFFFF;
}
.income-box:not(:last-of-type){
  margin-bottom: 30px;
}
.income-box p:first-child{
font-size: 2rem;
font-weight: 600;
}
.income-box p:lastt-child{
  font-size: 1.5rem;
  font-weight: 500;
  color: #4D4D4D;
  ;
}
@media screen and (max-width: 675px) {
  .about-container{
    align-items: center;
    row-gap: 25px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .msg{
    row-gap: 20px;
  }
  .about-container h1{
    font-size: 1.8rem;
    line-height: 1.6em;
  }
  .nav-bar{
    height: 7em;
    padding-left: 1.625em;
    padding-right: 1.625em;
    justify-content: space-between;
  }
  .vans-container{
    padding: 25px;
    margin-right: 0;
  }
  .actual-van-container{
    padding: 0;
    row-gap: 50px;
    column-gap:30px;
  }
  .van{
    width: 45%;
    margin: 0;
  }
  .buttons{
    column-gap: 10px;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .buttons button{
    background: #FFEAD0;
    height: 2em;
    width: 6em;
    font-weight: 500;
    border-radius: 5px;
  }
  #clear{
    margin-left: 10px;
    padding: 5px;
    width: 6em;
  }
  .detail-container{
    padding: 20px;
  }
  .container{
    margin: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .container img{
    width: 100%;
  }
 
  #rent{
    margin: 0 auto;
  }
  #description{
  font-size: 1.2rem;
  line-height: 2.4rem;
  }
}